<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Edit Employee</title>
        <link href="{{ url_for('static',filename='assets/css/styles.css') }}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit Employee</h3></div>
                                    <div class="card-body">
                                        <form action="/updateemp/{{employee[0]}}" method="POST" enctype="multipart/form-data">
                                            <div class="upload_image_container" align="center">
                                                <img id= display_uploaded_img src="https://{{bucketName}}.s3.amazonaws.com/{{employee[5]}}" alt="Employee Profile Picture"><br><br>
                                                <input type="file" id="upload_image" name="emp_image_file" hidden class="btn" onchange="showChanges(event)">
                                                <label for="upload_image" class="upload">Change Profile Picture</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" name="emp_id" type="text" placeholder="ID" value="{{employee[0]}}" disabled/>
                                                <label for="empID">Employee ID</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" name="first_name" type="text" placeholder="Enter your first name" value="{{employee[1]}}"/>
                                                        <label for="inputFirstName">First name</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <input class="form-control" name="last_name" type="text" placeholder="Enter your last name" value="{{employee[2]}}"/>
                                                        <label for="inputLastName">Last name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" name="pri_skill" type="text" placeholder="Enter your primary skill" value="{{employee[3]}}"/>
                                                <label for="primaryskill">Primary Skill</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" name="location" type="text" placeholder="Enter your location" value="{{employee[4]}}"/>
                                                <label for="location">Location</label>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid">
                                                    <button class="btn btn-primary btn-sm" onClick="this.form.reset()">Cancel</a>
                                                </div>
                                                <br>
                                                <div class="d-grid">
                                                    <button type="submit" class="btn btn-primary btn-sm" >Save</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='assets/js/scripts.js') }}"></script>
    </body>
</html>