<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ye Kuan Liang Portfolio</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{{ url_for('static',filename='assets/lib/animate/animate.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='assets/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static',filename='assets/lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">        

        <!-- Template Stylesheet -->
        <link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">
       <style>
        body .hero{
            background: linear-gradient(rgba(239, 35, 60, .95), rgba(239, 35, 60, .95)), url("{{ url_for('static', filename='assets/images/hero-bg.jpg') }}");
        }
       </style> 
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="51">
        <!-- Hero Start -->
        <div class="hero" id="home" >
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-content">
                            <div class="hero-text">
                                <p>I'm</p>
                                <h1>Ye Kuan Liang</h1>
                                <h2></h2>
                                <div class="typed-text">Chief Operating Officer (COO)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-none d-md-block">
                        <div class="hero-image">
                            <img src="{{ url_for('static',filename='assets/images/liang_smart_removebg.png') }}" alt="Hero Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->


        <!-- About Start -->
        <div class="about wow fadeInUp" data-wow-delay="0.1s" id="about">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="{{ url_for('static',filename='assets/images/liang_about.png') }}" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-header text-left">
                                <p><h2>Learn About Me</h2></p>
                            </div>
                            <div class="about-text">
                                <p>
                                    Prof Ir Dr Ye Kuan Liang was born on Malaysia, He received primary and secondary education at SJK(C) XingChun, Negeri Sembilan and SMJK PSJ, Melaka respectively. He obtained Bachelor of Computer Science (Honours) in Software Engineering, MPhil and PhD degrees from University of Oxford.
                                </p>
                            </div>
                            <div class="team-social">
                                <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        
        <!-- Service Start -->
        <div class="service" id="service">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>What I do</p>
                    <h2>Awesome Quality Services</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-laptop"></i>
                            </div>
                            <div class="service-text">
                                <h3>ERP Project</h3>
                                <p>Inhouse Developed ERP Modules</p>
                                <p>Turnkey Customized Development</p>  
                                <p>Point of Sales</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-laptop-code"></i>
                            </div>
                            <div class="service-text">
                                <h3>Blockchain Application</h3>
                                <p>Creating shared, unchangeable, distributed ledger technology (DLT) that securely records transactions and tracks assets </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fa fa-calculator"></i>
                            </div>
                            <div class="service-text">
                                <h3>Accounting System</h3>
                                <p>
                                    Record transactions, compile and analyze data, perform audits, assist with budgets and financial forecasting, compute taxes
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fab fa-apple"></i>
                            </div>
                            <div class="service-text">
                                <h3>MobileApps Development</h3>
                                <p>
                                    Creating a computer program or a set of programs to perform the different tasks that a business requires
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
        
        
         <!-- Experience Start -->
        <div class="experience" id="experience">
            <div class="container">
                <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p><h2>Timeline</h2></p>
                </header>
                <div class="timeline">
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2009</div>
                            <h2>Graduate as PhD</h2>
                            <p>
                                Graduate from University of Oxford with first class of honours in Doctor of Philosophy in Computer Science.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2010 - 2013</div>
                            <h2>Applications architect</h2>
                            <p>
                                Work as applications architect in Maybank Malaysia.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2014-2017</div>
                            <h2>Information technology Director</h2>
                            <p>
                                Work as information technology Director in Lava X Technologies Sdn Bhd
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2017</div>
                            <h2>SME100™ AWARDS</h2>
                            <p>
                                Leading company become one of the winner in SME100™ AWARDS at year 2017
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2018</div>
                            <h2>Vice President of Information Technology</h2>
                            <p>
                                Served as Vice President of Information Technology in Lava X Technologies Sdn Bhd
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2019</div>
                            <h2>Starting own company</h2>
                            <p>
                                Start a business and the company named KHL Inc.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">

                            <div class="timeline-date">2020 - Currently</div>
                            <h2>Chief Operating Officer (COO)</h2>
                            <p>
                                Work as COO in KHL Inc.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Experience End -->
        <!-- Team Start -->
        <div class="team" id="team">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>My Team</p>
                    <h2>Expert Team Members</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{{ url_for('static',filename='assets/images/ming_team.png') }}" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>Khu Wee Ming</h2>
                                <h4>Chief Executive Officer (CEO)</h4>
                                <p>
                                    I am Ming Gor
                                </p>
                                <div class="team-social">
                                    <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                                <br>
                                <form action="/khuweeming">
                                    <button type="submit">View More</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{{ url_for('static',filename='assets/images/tan_team.png') }}" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>Tan Hao You</h2>
                                <h4>Cheif Financial Officer (CFO)</h4>
                                <p>
                                    I am Tan Gor
                                </p>
                                <div class="team-social">
                                    <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                                <br>
                                <form action="/tanhaoyou">
                                    <button type="submit">View More</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->
    
        <!-- Back to top button -->
        <a href="#" class="btn back-to-top"><i class="fa fa-chevron-up"></i></a>
        
        
        <!-- Pre Loader -->
        <div id="loader" class="show">
            <div class="loader"></div>
        </div>
    </div>

        
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static',filename='assets/lib/easing/easing.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/lib/wow/wow.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/lib/waypoints/waypoints.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/lib/typed/typed.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/lib/owlcarousel/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/lib/isotope/isotope.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
        
        <!-- Template Javascript -->
        <script src="{{ url_for('static',filename='assets/lib/lightbox/js/lightbox.min.js') }}"></script>
    </body>
</html>
